<html lang="en">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/static-interface.css">
  <head>
    <script src="/static/js/jquery-2.1.0.min.js"></script>
    {% block js %}{% endblock js %}
    <title>{% block title %}Change the title{% endblock title %}</title>
  <style>
     body{
     background-color:#EB5F63;
     color:#C77F00;
     }
     h1{
     color:black;
     }
     h3{
     color:black;
     }
     .btn-default{
     background-color:#4355FF;
     color:white;
     }
     .form-control{
     background-color:#40FF86;
     color:black;
     }
     

   </style>
  </head>
  <body>
    {% block content %}
      <h1>Roar goes the sealion</h1>
      <i>Someone forgot to replace the content block</i>
    {% endblock %}
  </body>
</html>
