<html>
	<head>
	</head>
	<body>
		<script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP6aoULMAMJg1uSocCFiNg9rhMiUHyui4&sensor=false">
	    </script>
	    <script src="../static/js/jquery-2.1.0.min.js"></script>
	    <script src="../static/js/main.js"></script>
	    <script src="../static/js/phone.js"></script>
	    <script src="../static/js/touch.js"></script>
	    <script src="../static/js/interface.js"></script>
	    <script src="../static/js/streetView.js"></script>
	</body>
</html>