

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Homepage</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <link href="jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">Treasure Hunt</h3>
      </div>

      <div class="home">
        <h1>Treasure Hunt</h1>
        <p class="lead">Crowdsourced scavenger hunts using Google Maps and geolocation. Users mark locations in the world and provide clues that will help guide other users to that location. With a number of these clues, the server can generate a dynamic hunt, taking difficulty of clues (measured by percentage of users able to find a given location with a given clue) into account.</p>
        <p><a class="btn btn-lg btn-success" href="/register" role="button">Sign up today</a></p>
      </div>

      <div class="rows">
        <div class="col-lg-6">
          <h4>Creators</h4>
          <p>Developed by Will Field-Thompson, Yaseen Islam, Tak Chi Wan, Hunter Herman</p>
	  <p>&copy; Stuyvesant High School Software Development 2013-14</p>
        </div>
      </div>

    </div> 
  </body>
</html>
