{% extends "base.html" %}
{% block title %}CrowdQuests{% endblock title %}
{% block content %}
  <h1>CrowdQuests</h1>
  <hr/>
  <p>Crowdsourced quests: play one made by others, or make your own.</p>
  <div class="btn-group">
    <div class="btn">
      <a class="btn" href="/login">Login</a>
    </div>
    <div class="btn">
      <a class="btn" href="/register">Register</a>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <h4>Developed By:</h4>
  <p>&copy Hunter Herman, Yaseen Islam, Will Field-Thompson, and Tak Chi Wan 2014</p>
  <p>Developed for Software Development ('13-'14) at Stuyvesant High School.</p>
{% endblock content %}
