{% extends "base.html" %}
{% block title %}CrowdQuests{% endblock title %}
{% block content %}
  <div class="container">
    <div class="header">
      <h3 class="text-muted">CrowdQuests</h3>
    </div>

    <div class="home">
      <h1>Quest</h1>
      <p class="lead">Crowdsourced quests! Play one made by others,
	or make your own!</p>
	<div class="btn-group btn-group-justified">
	  <a class="btn btn-lg btn-warning" href="/login"
	     role="button">Login</a>
	  <a class="btn btn-lg btn-success" href="/register"
	     role="button">Sign up today</a>

	</div>
    </div>
    <br/>
    <div class="rows">
      <div class="col-lg-6">
        <h4>Creators</h4>
        <p>Developed by Will Field-Thompson, Yaseen Islam, Tak Chi Wan, Hunter Herman</p>
        <p>&copy; Stuyvesant High School Software Development 2013-14</p>
      </div>
    </div>
  </div>
{% endblock content %}
