{% extends "base.html" %}
{% block title %}Leaderboard{% endblock title %}
{% block content %}
<br>
<div class="container">
  <h1>Leaderboard</h1>
  <div class="panel panel-success">
    <table class="table table-striped table-bordered table-responsive">
      <thead>
        <tr>
          <th>User</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for i in leaders %}
        <tr>
          <td>{{i[0]}}</td>
          <td>{{i[1]}} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
