<html>
	<head>
	<style>
	#main {
		height:100%;
	}
	#test {
		font-size: 50px;
	}
	.vertical {
		width:600;
		float:left;
	}
	.vertical * {
		float:left;
	}
	</style>
	</head>
	<body>
		<div id="test"></div>
		<div id="main" ></div>
	</body>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP6aoULMAMJg1uSocCFiNg9rhMiUHyui4&sensor=false">
    </script>
    <script src="static/js/jquery-2.1.0.min.js"></script>
    
    <script src="static/js/main.js"></script>
    <script src="static/js/streetView.js"></script>

</html>